name: Build WPF app

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore BalatroSaveAndLoad/BalatroSaveAndLoad.csproj

    - name: Build
      run: dotnet build BalatroSaveAndLoad/BalatroSaveAndLoad.csproj --configuration Release --no-restore

    - name: Publish
      run: dotnet publish BalatroSaveAndLoad/BalatroSaveAndLoad.csproj -c Release -o publish --self-contained true -r win-x64 /p:PublishSingleFile=true

    - name: Install Inno Setup
      run: choco install innosetup -y

    - name: Create Installer
      run: iscc /DMyAppVersion="${{ github.ref_name }}" InnoSetup/setup.iss

    - name: Upload executable artifact
      uses: actions/upload-artifact@v4
      with:
        name: BalatroSaveAndLoad
        path: publish/BalatroSaveAndLoad.exe

    - name: Upload installer artifact
      uses: actions/upload-artifact@v4
      with:
        name: BalatroSaveAndLoadInstaller
        path: Output/balatro-save-and-load-setup.exe

